<mat-card class="conference-card">
    <mat-card-title>
      {{conference?.name}}
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="cc-content">

        <mat-grid-list cols="3" rowHeight="3.25rem" gutterSize="1rem">
          <mat-grid-tile>
            {{conference?.startDateTime | date:'MMMM d'}}
            <br/><span>Start Date</span>
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
            {{conference?.endDateTime | date:'MMMM d'}}
            <br/><span>End Date</span>
          </mat-grid-tile>
          <mat-grid-tile>
            {{conference?.candidates?.length}}
            <br/><span>Candidates</span>
          </mat-grid-tile>
          <mat-grid-tile>
            {{conference?.numClients}}
            <br/><span>Clients</span>
          </mat-grid-tile>
          <mat-grid-tile>
            {{conference?.jobOrders?.length}}
            <br/><span>Jobs</span>
          </mat-grid-tile>
        </mat-grid-list>

      </div>
    </mat-card-content>
  </mat-card>
