<section class="parent flex justify-center">

  <div>
      <mat-card *ngIf="showEmailPassword" class="title-center">
          <mat-card-title>
              <h2>Forgot Password</h2>
          </mat-card-title>
          <mat-card-content *ngIf="!isRequesting" class="u-full-width">
              <form [formGroup]="requestForm" (ngSubmit)="emailPassword(requestForm)">
                <div>
                  <mat-form-field [floatLabel]="true">
                      <input matInput id="email" formControlName="email" type="email" />
                      <mat-label for="email">Email Address</mat-label>
                  </mat-form-field>
                </div>
                  <div *ngIf="errors">
                      {{errors}}
                  </div>
                  <mat-card-actions>
                      <button mat-button type="submit">Request Reset</button>
                      <a mat-button routerLink="/login" routerLinkActive="active">Cancel</a>
                  </mat-card-actions>
              </form>
          </mat-card-content>
          <div [hidden]="!isRequesting" class="u-full-width center">
              <mat-spinner></mat-spinner>
              <div>One moment please...</div>
          </div>
      </mat-card>

      <mat-card *ngIf="!showEmailPassword" class="title-center">
        <mat-card-title>
            <h2>Reset Password</h2>
        </mat-card-title>
        <mat-card-content *ngIf="!isRequesting" class="u-full-width">
            <form [formGroup]="resetForm" (ngSubmit)="resetPassword(resetForm)">
                <mat-form-field [floatLabel]="true">
                    <input matInput id="email" formControlName="email" />
                    <mat-label for="email">Email</mat-label>
                </mat-form-field>
                <mat-form-field [floatLabel]="true">
                    <input matInput id="newPassword" formControlName="newPassword" />
                    <mat-label for="newPassword">New Password</mat-label>
                </mat-form-field>
                <div *ngIf="errors">
                    {{errors}}
                </div>
                <mat-card-actions>
                    <button mat-button type="submit">Reset Password</button>
                    <a mat-button routerLink="/login" routerLinkActive="active">Cancel</a>
                </mat-card-actions>
            </form>
        </mat-card-content>
        <div [hidden]="!isRequesting" class="u-full-width center">
            <mat-spinner></mat-spinner>
            <div>One moment please...</div>
        </div>
      </mat-card>
  </div>
</section>
